# Ignora tudo por padrão
*

# Permite a pasta lib e todo o conteúdo dela
!/lib/
!/lib/**

# Permite arquivos essenciais
!/pubspec.yaml
!/pubspec.lock
!/README.md



!/pubspec.yaml
!/pubspec.lock
!/README.md
